body {
  background-color: #222222;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px !default;
  line-height: 20px !default;
  *line-height: 20px !default;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: #bbb !default;
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(0,0,0,.25);
}

.btn-large {
  padding: 9px 14px;
  font-size: 16px !default;
  line-height: normal;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px !default;
  line-height: 16px !default;
}

.nav {
  margin-left: 0;
  margin-bottom: 20px !default;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee !default;
}

.nav > .pull-right {
  float: right;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: $white;
  background-color: #08c !default;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.item.well {
  float: left;
  margin: 10px;
  height: 330px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
}